
{% extends 'mips/extends/header.html' %}
{% block extrahead %}
    <script src="{{ STATIC_URL }} /static/js/index.js"></script>
{% endblock %}

{% block body %}

    <div class="container-fluid ml-auto ">
        {% if error == True %}
            <div class=" alert alert-danger col-6 text-uppercase text-center" role="alert" style="margin-left: 25%;">
                 <i class="fa fa-times-circle-o" style="font-size: 30px;"></i> Invalid instruction !! Please check line {{ line }}
            </div>
        {% endif %}
        {% if errorlabel == True %}
            <div class=" alert alert-danger col-6 text-uppercase text-center" role="alert" style="margin-left: 25%;">
                 <i class="fa fa-times-circle-o" style="font-size: 30px;"></i> Invalid Label !! Please check line {{ line }}
            </div>
        {% endif %}
        <form method="GET" enctype="multipart/form-data" id="myform">

            <div class="form-group " style="height:700px;">
                {% csrf_token %}
                <label for="exampleFormControlTextarea1" style="color: white;">Enter Codes Here</label>
                <textarea name="codearea" class="form-control col-6" id="exampleFormControlTextarea1" spellcheck="false" >{{request.session.codearea}}</textarea>
                 <div class="button mt-2">
                     <div class="row">
                        <div class="col"><a href="{% url 'mips:check' %}"><div class="btn btn-success" id="id_load">LOAD</div></a></div>
                         <div class="col"><a href="{% url 'mips:resetindex' %}"><div class="btn btn-primary" id="id_load">RESET</div></a></div>
                     </div>
                 </div>
            </div>

        </form>
    </div>


{% endblock %}