
{% extends 'mips/extends/header.html' %}
{% block script %}
$(document).ready( function(){

    $('#myform').on("submit", function (event) {
        event.preventDefault();
        var data = new FormData(this);

        $.ajax({
            url: "/inputcode/",
            method: "POST",
            data: data,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {}
        });
    });
    $("body").on("click", "a", function() {
        $('#myform').submit();
    });

});




{% endblock %}
{% block body %}
    <div class="container-fluid ml-2">
        <form method="GET" enctype="multipart/form-data" id="myform">

            <div class="form-group ">
                {% csrf_token %}
                <label for="exampleFormControlTextarea1" style="color: white">Enter Codes Here</label>
                {%  if request.session.codearea != None %}
                <textarea name="codearea" class="form-control col-6" id="exampleFormControlTextarea1" spellcheck="false" style="height:400px;" >{{request.session.codearea}}</textarea>
                {% else %}
                <textarea name="codearea" class="form-control col-6" id="exampleFormControlTextarea1" spellcheck="false" style="height:400px;" ></textarea>
                {% endif %}

            </div>
            <div class="button">
                <a href="{% url 'mips:check' %}"><div class="btn btn-primary" id="id_load">LOAD</div></a>
            </div>
        </form>
    </div>
        

    
    
{% endblock %}