{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<script src="{{ STATIC_URL }} /static/js/jquery.min.js"></script>
    	<script src="{{ STATIC_URL }} /static/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}">
		{% block extrahead %}{% endblock %}
<!--    TO LOOK FOR ICONS    https://fontawesome.bootstrapcheatsheets.com/#-->
		<title>{% block title %}Aion Wristwatches{% endblock %}</title>
	</head>
	{% block extrascript %}
    {% endblock %}
    <script>
        $(document).ready(function(){
            window.onscroll = function() {myFunction()};

            var navbar = document.getElementById("navbar1");
            var sticky = navbar.offsetTop;

            function myFunction() {
              if (window.pageYOffset > sticky) {
                navbar.classList.add("sticky-top")

              } else {
                navbar.classList.remove("sticky-top");
              }
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("up").style.visibility = "visible";
                } else {
                    document.getElementById("up").style.visibility = "hidden";
                }
            }


        });

        function changecss(){
            var arrow= document.getElementById("up");
            arrow.style.cursor = "pointer";
        }
        function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
        }
        function checkbox(){
            var value = $("input[type='checkbox']").prop( "checked" );//.is(":checked");
            if( value == true){
                $("#id_shouse_num").attr('value',$("#id_bhouse_num").val());
                $("#id_sstreet").attr('value',$("#id_bstreet").val());
                $("#id_ssubdivision").attr('value',$("#id_bsubdivision").val());
                $("#id_scity").attr('value',$("#id_bcity").val());
                $("#id_spc").attr('value',$("#id_bpc").val());
                $("#id_scountry").attr('value',$("#id_bcountry").val());

			}
			else
			{
				$("#id_shouse_num").attr('value',"");
                $("#id_sstreet").attr('value',"");
                $("#id_ssubdivision").attr('value','');
                $("#id_scity").attr('value','');
                $("#id_spc").attr('value','');
                $("#id_scountry").attr('value','');
			}
		}
		$(document).ready(function(){
			$("#digitaltab").hide();
			$("#smarttab").hide();
			});
		   function category(tab){
			if(tab=="analog")
			{
				$("#analogtab").show();
				$("#digitaltab").hide();
				$("#smarttab").hide();
			}
			else if(tab=="digital")
			{
				$("#digitaltab").show();
				$("#analogtab").hide();
				$("#smarttab").hide();
			}
			else
			{
				$("#smarttab").show();
				$("#analogtab").hide();
				$("#digitaltab").hide();

			}
		}
    </script>

	<body>
		<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" >
  			<a class="navbar-brand ml-5" href="{% url 'ecommerce:index' %}">
  				<img src="{{ STATIC_URL }} /static/brand/watch.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
  				Aion Wristwatches
  			</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

	  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    		<ul class="navbar-nav ml-auto">

	    				<li class="nav-item mr-2">
	    					<a href="/" class="nav-link"><small><strong>HOME</strong></small></a>
	    				</li>
	    			{% if user.is_authenticated and user.usertypes == 'Customer'%}
	    				<li class="nav-item mr-2">
                            <div class="dropdown">
                                <a class="nav-link text-uppercase font-weight-bold" role="button" id="usernameMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><strong>HI, {{ user.username }}! <i class="fa fa-caret-down"></i></strong></small></a>

                                <div class="dropdown-menu  dropdown-menu-right list-group-flush" aria-labelledby="usernameMenu">
                                    <a class="dropdown-item font-weight-bold list-group-item" href="/uacct/"><i class="fa fa-user"></i><span>    </span>My Account</a>
                                    <a class="dropdown-item font-weight-bold list-group-item" href="{% url 'ecommerce:myorders' %}"><i class="fa fa-list-alt"></i><span>    </span>My Orders</a>
                                    <a class="dropdown-item  font-weight-bold list-group-item" href="{% url 'ecommerce:logout' %}"><i class="fa fa-sign-out"></i><span>    </span>LOG OUT</a>
                                  </div>
                            </div>
	    				</li>


	    			{% else %}
		    			<li class="nav-item mr-2">
		    				<div class="dropdown" >
		    					<a class="nav-link text-uppercase " href="#" role="button" id="dropdownMenuLogin" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><small><strong>LOG IN</strong></small></a>

		    					<form class="dropdown-menu p-2" aria-labelledby="dropdownMenuLogin" method="post">
		    						{% csrf_token %}
									<div class="form-group">
										<label for="id_username">Username</label>
										<input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required>
									</div>
									<div class="form-group">
										<label for="id_password">Password</label>
										<input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
									</div>
									<button  type="submit" class="btn btn-success btn-block"><small><strong>LOG IN</strong></small></button>
	                        		<input type="hidden" name="next" value="{{ next }}">
								</form>
							</div>
	    				</li>

	    				<li class="nav-item mr-5">
	    					<a class="btn btn-outline-success text-uppercase" href="#signup" data-toggle="modal"><small><strong>SIGN UP</strong></small></a>
	    				</li>
	    			{% endif %}
	    		</ul>
	  		</div>
		</nav>
        <nav id="navbar1" class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar-nav nav-pills nav-fill mr-auto">
              <li class="nav-item col-md-4">
               </li>
              <li class="nav-item col-md-4">
                <a class="nav-link" href="#" onclick="category(this.id);" id="analog"><strong>Analog</strong></a>
              </li>
                <li class="nav-item col-md-4">
                <a class="nav-link" href="#" onclick="category(this.id);" id="digital"><strong>Digital</strong></a>
              </li>
                <li class="nav-item col-md-4">
                <a class="nav-link" href="#" onclick="category(this.id);" id="smart"><strong>Smart</strong></a>
              </li>
            </ul>
            <div class="d-flex ml-auto">
            <form class="navbar-form mt-1" role="search" method="get">
                <div class="input-group add-on">
                  <input class="form-control ml-sm-2 p-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-secondary my-3 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>

            </form>
            </div>

        </nav>
         <div id="uparrow" class="icon" onmouseover="changecss();" onclick="topFunction();" >
                <i id="up" class="fa fa-chevron-up"  style="visibility:hidden; position: fixed;
                  bottom: 20px;
                  right: 30px;
                  z-index: 99;font-size:50px;"></i>
        </div>
		<div class="content modal fade" id="signup" tabindex="-1" role="dialog">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title"><strong>SIGN UP </strong><small>It's free!</small></h5>
	                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	                </div>
	                <div class="modal-body">
	                    <form role="form" method="post">
	                        {% csrf_token %}
	                        <div class="form-group">
	                            <input type="text" id="id_first_name" name="first_name" class="form-control input-sm" placeholder="First Name" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_middle_initial" name="middle_initial" class="form-control input-sm" placeholder="Middle Inital" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_last_name" name="last_name" class="form-control input-sm" placeholder="Last Name" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_username" name="username" class="form-control input-sm" placeholder="Username" required>
	                        </div>

	                        <div class="form-group">
                                <input type="password" id="id_password1" name="password1" class="form-control input-sm" placeholder="Password" required>
	                        </div>

	                        <div class="form-group">
                                <input type="password" id="id_password2" name="password2" class="form-control input-sm" placeholder="Confirm Password" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="email" id="id_email" name="email" class="form-control input-sm" placeholder="Email Address" required>
	                        </div>

	                        <h6>Billing Address</h6>
	                        <div class="form-group">
	                            <input type="text" id="id_bhouse_num" name="bhouse_num" class="form-control input-sm" placeholder="House #" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_bstreet" name="bstreet" class="form-control input-sm" placeholder="Street" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_bsubdivision" name="bsubdivision" class="form-control input-sm" placeholder="Subdivision" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_bcity" name="bcity" class="form-control input-sm" placeholder="City" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_bpc" name="bpc" class="form-control input-sm" placeholder="Postal Code" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_bcountry" name="bcountry" class="form-control input-sm" placeholder="Country" required>
	                        </div>

	                        <h6>Shipping Address</h6>
	                        <div class="form-group">
							    <div class="form-check custom-control custom-checkbox">
							     	<input class="form-check-input custom-control-input" onclick="checkbox();" type="checkbox" id="sameCheck">
							     	<label class="form-check-label custom-control-label" for="sameCheck">
							    		Same as billing address
							    	</label>
							    </div>
							</div>
	                        <div class="form-group">
	                            <input type="text" id="id_shouse_num" name="shouse_num" class="form-control input-sm" placeholder="House #" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_sstreet" name="sstreet" class="form-control input-sm" placeholder="Street" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_ssubdivision" name="ssubdivision" class="form-control input-sm" placeholder="Subdivision" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_scity" name="scity" class="form-control input-sm" placeholder="City" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_spc" name="spc" class="form-control input-sm" placeholder="Postal Code" required>
	                        </div>

	                        <div class="form-group">
	                            <input type="text" id="id_scountry" name="scountry" class="form-control input-sm" placeholder="Country" required>
	                        </div>

	                        <button type="submit" class="btn btn-success btn-block"><small><strong>SIGN UP</strong></small></button>
	                        <input type="hidden" name="next" value="{{ next }}">
	                    </form>
	                </div>
	            </div>
	        </div>
    	</div>

    	{% block body %}
    	{% endblock %}
	</body>
</html>
