
{% extends 'mips/extends/header.html' %}
    <!--Memory Table-->
{% block body %}
    <div class="tablebox">
        <div class="table-container">
            <div class="col-lg-4 col-lg-offset-4">
                <h2 align="center"><strong>Memory Table</strong></h2>
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: white; color: #111111;">
                            <th>Address</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th>Address</th>
                            <th>Content</th>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <th>Content</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Register Table-->
        <div class="table-container">
            <div class="col-lg-4 col-lg-offset-4">
                <h2 align="center"><strong>Register Table</strong></h2>
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: white; color: #111111;">
                            <th>Register</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reg in reglist %}
                            <tr>
                                <th>R{{ reg.regnum }}</th>
                                <th>{{ reg.regval }}</th>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}