{% extends 'mips/extends/header.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/load.css' %}">
{% endblock %}
{% block script%}
    $(document).ready(function(){

        $('#editmform').on("submit", function (event) {
                event.preventDefault();
                var data = new FormData(this);
                $.ajax({
                    url: "/editmem/",
                    method: "POST",
                    data: data,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        if ( response === "Success")
                            location.reload();
                    }
                });
        });
     $('#editrform').on("submit", function (event) {
                event.preventDefault();
                var data = new FormData(this);
                $.ajax({
                    url: "/editreg/",
                    method: "POST",
                    data: data,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        if ( response === "Success")
                            location.reload();
                    }
                });
        });
    });

    function editmem(  address, memval){
        $('#memadd').val(address);
        $('#memval').val(memval);
    }
    function editreg( regnum, regval ){
        $('#regnum').val(regnum);
        $('#regval').val(regval);
    }
{% endblock %}
{% block body %}

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="editModal" id="editMModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="#" method="GET" enctype="multipart/form-data" id="editmform">
        <div class="modal-header">
                <h2>Edit Memory</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                    {% csrf_token %}
                    <label>Memory Content</label>
                    <input type="hidden" id="memadd" name="memadd" value="">
                    <input type="text" id="memval" class="form-control" name="memvalue" pattern="^([0-9A-Fa-f]{2})$"  size="2" maxlength="2" title="LENGTH OF A BYTE AND VALID HEX VAULES" required>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Save</button>
            </div>
             </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="editModal" id="editRModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="#" method="GET" enctype="multipart/form-data" id="editrform">
        <div class="modal-header">
                <h2>Edit Register</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                    {% csrf_token %}
                    <label>Register Content</label>
                    <input type="hidden" id="regnum" name="regnum" value="">
                    <input type="text" id="regval" class="form-control" name="regval" pattern="^([0-9A-Fa-f]{16})$"  size="16" maxlength="16" title="LENGTH OF DOUBLE WORD AND VALID HEX VAULES" required>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Save</button>
            </div>
             </form>
        </div>
    </div>
</div>
<div class="container ml-lg-5">
  <!--<div class="row ">-->
    <!--Opcode Table-->

        <div class="col  ml-lg-5" style="display: flex; justify-content:center; flex-direction:column; clear: both; overflow: auto; width: 1000px;">
            <h2 align="center"><strong class="text-white">Opcode Table</strong></h2>
            <table class="table table-bordered" width="100%" style="float: left;" >
                <thead style="display: inline-block;width: 100%;">
                    <tr style="background-color: white; color: #111111; position: relative;">
                        <th class="col-1">Instruction</th>
                        <th class="col-1">Opcode</th>

                    </tr>
                </thead>
                <tbody style="height: 200px; display: inline-block; width: 100%; overflow: auto; color: white;">
                    {% for instr in instrclist %}
                    <tr>
                        <td>{{ instr.instruction }}</td>
                        <td>{{ instr.rep }}</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
      </div>
    <!--Memory Table-->
       <div class="col ml-lg-5 " style="display: flex; justify-content:center; flex-direction:column;">
            <h2  align="center"><strong class="text-white" >Memory Table</strong></h2>
            <table class="table table-bordered" width="100%" style="width: 100%; display:block;">
                <thead style="display: inline-block; width: 100%;">
                    <tr style="background-color: white; color: #111111; position: relative;">
                        <th class="col-1">Address</th>
                        <th class="col-1">Content</th>
                    </tr>
                </thead>
                <tbody style="height: 200px; display: inline-block; width: 100%; overflow: auto; color: white;">
                    {% for mem in mem1list %}

                    <tr>
                        <td class="col-1"><a role="button" onclick="editmem('{{ mem.address}}','{{ mem.memval }}');" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editMModal" >{{ mem.address }}</a></td>
                        <td class="col-3">{{ mem.memval }}</td>
                    </tr>

                    {% endfor %}
                    {% for mem in mem2list %}

                    <tr>
                        <td >{{ mem.address }}</td>
                        <td >{{ mem.memval }}</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>
        </div>



        <!--Register Table-->

        <div class="col ml-lg-5 "  style="display: flex; justify-content:center; flex-direction:column;">
            <h2 align="center"><strong class="text-white">Register Table</strong></h2>
            <table class="table table-bordered" width="100%" style="width: 100%; display:block;">
                <thead style="display: inline-block; width: 100%; ">
                    <tr style="background-color: white; color: #111111; position: relative;">
                        <th class="col-1">Register</th>
                        <th class="col-1">Content</th>
                    </tr>
                </thead>
                <tbody style="height: 200px; display: inline-block; width: 100%; overflow: auto; color: white;">
                    {% for reg in reglist %}
                    <tr>
                        <td class="col-1"><a role="button" onclick="editreg('{{ reg.regnum}}','{{ reg.regval }}');" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editRModal" >R{{ reg.regnum }}</a></td>
                        <td class="col-3">{{ reg.regval }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

  <!--</div>-->
</div>
</div>

{% endblock %}