
{% extends 'mips/extends/header.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/load.css' %}">
{% endblock %}

{% block body %}
<div class="container ml-lg-5">
  <div class="row ">
    <!--Opcode Table-->

        <div class="col  ml-lg-5 mr-lg-5">
            <h2 align="center"><strong class="text-white">Opcode Table</strong></h2>
            <table class="table table-bordered" >
                <thead>
                    <tr style="background-color: white; color: #111111;">
                        <th>Instruction</th>
                        <th>Opcode</th>
                    </tr>
                </thead>
                <tbody style="color: white;overflow-y: scroll; display: inline-block; height: 30em;">
                    {% for instr in instrclist %}
                    <tr style="width:inherit;">
                        <th>{{ instr.instruction }}</th>
                        <th>{{ instr.rep }}</th>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
      </div>
    <!--Memory Table-->
       <div class="col ml-lg-5 mr-lg-5">
            <h2  align="center"><strong class="text-white" >Memory Table</strong></h2>
            <table class="table table-bordered" >
                <thead>
                    <tr style="background-color: white; color: #111111;">
                        <th>Address</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody style=" color: white; overflow-y: scroll; display: inline-block; height: 30em;">
                    {% for mem in memlist %}
                    <tr style="width:inherit;">
                        <th><button role="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editModal" >{{ mem.address }}</button></th>
                        <th>{{ mem.memval }}</th>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>



        <!--Register Table-->

        <div class=" ml-lg-5 col mr-lg-5">
            <h2 align="center"><strong class="text-white">Register Table</strong></h2>
            <table class="table table-bordered">
                <thead style="display: block;">
                    <tr style="background-color: white; color: #111111;display: block;">
                        <th  style="display: inline-block;">Register</th>
                        <th  style="display: inline-block;">Content</th>
                    </tr>
                </thead>
                <tbody style=" color: white;overflow-y: scroll; display: inline-block; height: 30em;">
                    {% for reg in reglist %}
                    <tr>
                        <th>R{{ reg.regnum }}</th>
                        <th>{{ reg.regval }}</th>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

  </div>
</div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Memory</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
                <label>Memory Content</label>
                <input type="text" class="form-control">
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}